<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.globalin.locker.mapper.UserMapper">

    <select id="getAllUsers" resultType="map">
        SELECT * FROM users
    </select>

    <select id="getUserCount" resultType="int">
        SELECT COUNT(*) FROM users
    </select>

    <insert id="insertUser">
        INSERT INTO users (ID, NAME, EMAIL)
        VALUES (#{id}, #{name}, #{email})
    </insert>

</mapper>
